<div class="card mb-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%if lot.images.attached? %>
        <% lot.images.each do |image| %>
           <%= image_tag image, class: "card-img-top"%>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= lot.name %></h5>
        <p class="card-text"><%= lot.description %></p>
        <p class="card-text">Category: <%= lot.category %></p>
        <p class="card-text"><small class="text-body-secondary">Initial price: <%= lot.initial_price.to_i.to_s + '$' %></small></p>
        <p class="card-text"><small class="text-body-secondary">Auto purchase price: <%= lot.auto_purchase_price.to_i.to_s + '$' %></small></p>
        <p class="card-text"><small class="text-body-secondary">Due to: <%= lot.end_time %></small></p>
        <p class="card-text"><small class="text-body-secondary">Tagged:
          <% lot.tags.map do |tag| %>
          <%= link_to '#' + tag, tag_lots_path(tag: tag), class: 'underline text-blue-600 mr-1.5' %>
          <% end %>
        </small></p>

        <% if @leading_bid && @leading_bid.user == current_user %>
          <p>Your bid <%= @leading_bid.amount %> is leading now.</p>
        <% else %>
          <% if @leading_bid %>
          <p>The leading bid is <%= @leading_bid.amount %> by <%= @leading_bid.user.name %>.</p>
            <% else %>
            <p>There are no any bids for this lot, be the first!</p>
            <% end %>
          <% if current_user.present? %>
            <%= form_with(model: @bid, url: lot_bids_path(@lot), method: :post) do |form| %>
              <%= form.label :amount %>

              <%= form.number_field :amount , min: (@leading_bid ? @leading_bid.amount + 1 : lot.initial_price) %>

              <%= form.submit 'Place Bid' %>
            <% end %>
          <% else %>
            <p>Please sign in to place a bid.</p>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
</div>