<div id="<%= dom_id lot %>">
  <p>
    <strong>Name:</strong>
    <%= lot.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= lot.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= lot.category %>
  </p>

  <p>
    <strong>Initial price:</strong>
    <%= lot.initial_price %>
  </p>

  <p>
    <strong>Auto purchase price:</strong>
    <%= lot.auto_purchase_price %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= lot.end_time %>
  </p>

</div>
