<div class="card mb-3" style="max-width: 700px;">
  <div class="row g-0">
    <div class="col-md-4">
      <%if lot.images.attached? %>
        <% lot.images.each do |image| %>
           <%= image_tag image, class: "card-img-top"%>
        <% end %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= lot.name %></h5>
        <p class="card-text"><%= lot.description %></p>
        <p class="card-text">Category: <%= lot.category %></p>
        <p class="card-text"><small class="text-body-secondary">Initial price: <%= lot.initial_price %></small></p>
        <p class="card-text"><small class="text-body-secondary">Auto purchase price: <%= lot.auto_purchase_price %></small></p>
        <p class="card-text"><small class="text-body-secondary">Due to: <%= lot.end_time %></small></p>
        <p class="card-text"><small class="text-body-secondary">Tagged:
          <% lot.tags.map do |tag| %>
          <%= link_to '#' + tag, tag_lots_path(tag: tag), class: 'underline text-blue-600 mr-1.5' %>
          <% end %>
        </small></p>
      </div>
    </div>
  </div>
</div>