<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light"><%= t(:auction) %></h1>
        <p class="lead text-body-secondary"><%= t(:welcome) %></p>
        <p>
          <a href="<%= lots_path %>" class="btn btn-primary my-2"><%= t(:all_lot_btn) %></a>
          <a href="<%= new_lot_path %>" class="btn btn-secondary my-2"><%= t(:new_lot_btn) %></a>
        </p>
      </div>
    </div>
  </section>

  <div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @lots.each do |lot| %>
        <div class="col">
          <div class="card shadow-sm">
            <%= lot.images.present? ? image_tag(lot.images.first, class: 'bd-placeholder-img card-img-top', style: 'width:100%;height:225') : image_tag('placeholder.jpeg', class: 'bd-placeholder-img card-img-top', style: 'width:100%;height:225;object-fit:cover;')%>
            <div class="card-body">
              <p class="card-text"><%= lot.name %></p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <%= link_to t('view'), lot_path(lot), class: 'btn btn-sm btn-outline-secondary' %>
                </div>
                <span class="badge bg-success"><%= t(:due_to) %> <%= lot.end_time %></span>
              </div>
            </div>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
<%= render 'layouts/footer' %>
