<table class="table">
  <thead class="table-light">
  <tr>
    <th style="color: grey">Lots tagged: <%=params.fetch(:tag) %></th>
    <th>Name</th>
    <th>Initial Price</th>
    <th>Auto Purchase Price</th>
    <th>Tags</th>
    <th>Due to</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @lots.each do |lot| %>
    <tr>
      <td class="w-25">
        <%if lot.images.attached? %>
          <%= image_tag lot.images.first, class: 'img-fluid img-thumbnail'%>
        <% end %>
      </td>
      <td><%= link_to lot.name, lot, style: "text-decoration: none;" %></td>
      <td><%= lot.initial_price.to_i.to_s + '$' %></td>
      <td><%= lot.auto_purchase_price.to_i.to_s + '$' %></td>
      <td><% lot.tags.map do |tag| %>
          <%= link_to '#' + tag, tag_lots_path(tag: tag), class: 'badge rounded-pill bg-light text-dark', style: 'text-decoration:none' %>
        <% end.join(', ') %></td>
      <td><%= lot.end_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%link_to "New lot", new_lot_path %>
