<table class="table">
  <thead class="table-light">
  <tr>
    <th style="color: grey">Lots tagged: <%=params.fetch(:tag) %></th>
    <th>Name</th>
    <th>Initial Price</th>
    <th>Auto Purchase Price</th>
    <th>Tags</th>
    <th>Due to</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @lots.each do |lot| %>
    <tr>
      <td><%= image_tag "bmw7.jpeg", style: 'height:20%;width:auto;'%></td>
      <td><%= link_to lot.name, lot %></td>
      <td><%= lot.initial_price %></td>
      <td><%= lot.auto_purchase_price %></td>
      <td><% lot.tags.map do |tag| %>
          <%= link_to '#' + tag, tag_lots_path(tag: tag), class: 'underline text-blue-600 mr-1.5' %>
        <% end.join(', ') %></td>
      <td><%= lot.end_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%link_to "New lot", new_lot_path %>
